# Webserver port (default: 8000)
# PORT=8000

# Open-AI-compatible server
# LLAMA_SERVER_URL=127.0.0.1:8080

# Model information
# MODEL_NAME="gemma-4-E2B-it-GGUF"
# HF_REPO="ggml-org/gemma-4-E2B-it-GGUF"
